<div class="col-12" style="text-align:center;  background-color:RGB(245,245,239);">
    <video src="https://res.cloudinary.com/dv8hvjcim/video/upload/v1617932307/dev_setups/arteofyou_1_migigl.mp4"
        autoplay muted></video>
</div>
<div class="col-12">


    <img style=" width:100%; height:100%; margin-bottom:1rem;"
        src="https://res.cloudinary.com/dv8hvjcim/image/upload/v1618378807/dev_setups/Present_with_ease_ktzmzr.png"
        alt="present">

    <video style=" width:100%; height:100%"
        src="https://res.cloudinary.com/dv8hvjcim/video/upload/v1618378127/dev_setups/Present_with_ease_lyqnmx.mp4"
        autoplay muted></video>

    <p style="font-style: italic; font-size:x-large; background-color:rgb(255, 255, 255)">"ARTEOFYOU es un proyecto personal que comenzo a principios del 2021, con el tiempo se iran agregando nuevas
        funcionalidades,
        por ahora es una manera de juntar las dos cosas que mas me gustan, el dibujo y la programacion "</p>
    <b   style=" color:blueviolet">
        - Quimey Zoe Ruffa Velasco, fundadora
    </b>
</div>