<div   class="row">
    <div  class="mx-auto">
        <div id="login-body-card" class="card-body">
            <div style={width: 100%; height: 100%;} class="col-12">
                <video src="https://res.cloudinary.com/dv8hvjcim/video/upload/v1617931815/dev_setups/arteofyou_euh4z8.mp4" autoplay muted ></video>    
            </div>
            <form id="form_signup" action="/users/signUp" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                </div>
                <br>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
                </div>
                <br>
                <button id="boton-signup" class="btn btn-primary btn-block">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</div>